.ui.container.photoContainer {
    position: relative;
    min-width: 85%;
    margin-right: 1em !important;
}

.photoContainer img {
    max-width: 100%;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-start;
}

.removePhoto {
    position: absolute;
    top: -0.75em;
    right: -0.75em;
}
