#barcodeVideo {
  position: relative;
  flex: 1 1;
  max-width: 100%;
}

#barcodeVideo canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 12;
  left: 0;
  right: 0;
}

#barcodeVideo video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

#barcode {
  height: 1em;
}

.scannerButtonsContainer {
  display: inline-flex;
  align-items: flex-end;
  padding: 1em;
  top: 0;
  left: 0;
  right: 0;
}

.scanTitle {
  max-width: 82%;
  margin-left: auto;
  margin-right: auto;
}

.quagga-buttons {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.barcodeScanner-buttonbox {
  padding-top: 1em;
}

@media screen and (orientation: landscape) {
  #barcodeVideo {
  }

  #barcodeVideo canvas {
    height: 100%;
  }

  #barcodeVideo video {
    height: 100%;
    width: 100%;
  }

  .barcodeScanner-buttonbox {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    height: auto;
  }

  .scannerButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .quagga-buttons {
    flex-direction: column-reverse;
  }
}
